#products-section {
  border: 1px solid chartreuse;
}

.cart {
  border: 1px solid tomato;
}

.order-history {
  border: 1px solid purple;
  color: magenta;
}

#bottom-section {
  display: flex;
  justify-content: space-between;
}

#products-section {
  height: 80%;
  width: 60%;
}

.card {
  /*width: 200px;
  height: 200px;*/
}

.card-image {
  max-height: 250px;
}

.item-title {
  width: 100px;
  height: 50px;
  color: black;
  background-color: green;
}